@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
  --primary: #0f2a66;
  --gold: #d4a017;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea,
select {
  color: #1e293b !important;
  background: white !important;
}

input::placeholder,
textarea::placeholder {
  color: #64748b !important;
}
html {
  scroll-behavior: smooth;
}

table,
th,
td {
  color: #1e293b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2a66;
}
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #0f2a66;
  border-radius: 10px;
}